In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [41]:
df = pd.read_excel(r"101_Umsatzbericht.xltx", sheet_name='Nach Produkt', header = 6) #Pfad zur Excel Datei und Tabellenblatt und Überschriftenzeile
df.head() #Nicht unbedingt benötigt, nur dass man die tabelle hier sieht

,Produkt,Summe aus Qrtl 1,Summe aus Qrtl 2,Summe aus Qrtl 3,Summe aus Qrtl 4
0,Alice Mutton,2667.60,4013.1,4836.00,6087.9
1,Aniseed Syrup,544.00,600.0,140.00,440.0
2,Boston Crab Meat,1768.41,1978.0,4412.32,1656.0
3,Camembert Pierrot,3182.40,4683.5,9579.50,3060.0
4,Chef Anton's Cajun Seasoning,225.28,2970.0,1337.60,682.0

In [44]:
    quartal = input("Quartal eingeben(1/2/3/4): ") #Variable für quartal
    if quartal == '1'or quartal == '2' or quartal == '3' or quartal == '4': #if Bedingung damit auch eine korrekte Zahl ausgegeben wird. Evtl durch loop austauschen?
        sortierung = input("'Produkte' oder 'Kunden' wählen:") #Variable für Sortierung(Kunden/Produkte)
        print("Summe der Umsätze in Quartal " + quartal + ", für sämtliche " + sortierung) #Kleine Überschrift damit man sieht was das Programm einem hier überhaupt anzeigt
        spalten = ['Produkt', 'Kunde', 'Summe aus Qrtl 1', 'Summe aus Qrtl 2', 'Summe aus Qrtl 3', 'Summe aus Qrtl 4',] #variable für die spalten aus der tabelle
        
        if sortierung == 'Produkte':
            if quartal == '1':
                spalten = ['Produkt','Summe aus Qrtl 1']  #Welche Spalten gedruckt werden sollen
            elif quartal == '2':
                spalten = ['Produkt','Summe aus Qrtl 2']
            elif quartal == '3':
                spalten = ['Produkt','Summe aus Qrtl 3']
            elif quartal == '4':
                spalten = ['Produkt','Summe aus Qrtl 4']


        elif sortierung == 'Kunden':
            if quartal == '1':
                spalten = ['Kunde','Summe aus Qrtl 1']  #Das gleiche für die Kunden - sortierung
            elif quartal == '2':
                spalten = ['Kunde','Summe aus Qrtl 2']
            elif quartal == '3':
                spalten = ['Kunde','Summe aus Qrtl 3']
            elif quartal == '4':
                spalten = ['Kunde','Summe aus Qrtl 4']

            
        df = df[spalten]
        print(df)  
        
    else: 
        print("Falsche Eingabe, bitte erneuert versuchen")

Summe der Umsätze in Quartal 1, für sämtliche Produkte
                             Produkt  Summe aus Qrtl 1
0                       Alice Mutton           2667.60
1                      Aniseed Syrup            544.00
2                   Boston Crab Meat           1768.41
3                  Camembert Pierrot           3182.40
4       Chef Anton's Cajun Seasoning            225.28
5             Chef Anton's Gumbo Mix              0.00
6                           Filo Mix            187.60
7                  Gorgonzola Telino            464.50
8       Grandma's Boysenberry Spread              0.00
9                        Ipoh Coffee           1398.40
10   Jack's New England Clam Chowder            385.00
11         Laughing Lumberjack Lager              0.00
12                     Longlife Tofu            488.00
13  Louisiana Fiery Hot Pepper Sauce           1347.36
14         Louisiana Hot Spiced Okra           1509.60
15            Mozzarella di Giovanni           1390.00
16        Northwoods Cranberry Sauce              0.00
17                    Ravioli Angelo            499.20
18                     Sasquatch Ale            551.60
19            Sir Rodney's Marmalade              0.00
20               Sir Rodney's Scones           1462.00
21                    Steeleye Stout           1310.40
22        Teatime Chocolate Biscuits            943.89
23   Uncle Bob's Organic Dried Pears           1084.80
24                     Veggie-spread           3202.87
25                       Grand Total          24612.91