In [3]:
import pandas as pd
pd.__version__
import matplotlib.pyplot as plt
%matplotlib inline
pd

In [13]:
df = pd.read_excel(r"H:\Studium\IT_projekt\101_Umsatzbericht.xltx", sheet_name='Nach Produkt')
df.tail(27)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
5,Produkt,Summe aus Qrtl 1,Summe aus Qrtl 2,Summe aus Qrtl 3,Summe aus Qrtl 4
6,Alice Mutton,2667.6,4013.1,4836,6087.9
7,Aniseed Syrup,544,600,140,440
8,Boston Crab Meat,1768.41,1978,4412.32,1656
9,Camembert Pierrot,3182.4,4683.5,9579.5,3060
10,Chef Anton's Cajun Seasoning,225.28,2970,1337.6,682
11,Chef Anton's Gumbo Mix,0,0,288.22,85.4
12,Filo Mix,187.6,742,289.8,904.75
13,Gorgonzola Telino,464.5,3639.37,515,2681.87
14,Grandma's Boysenberry Spread,0,0,1750,750
15,Ipoh Coffee,1398.4,4496.5,1196,3979
16,Jack's New England Clam Chowder,385,1325.03,1582.6,1664.62
17,Laughing Lumberjack Lager,0,518,350,42
18,Longlife Tofu,488,0,0,512.5
19,Louisiana Fiery Hot Pepper Sauce,1347.36,2750.69,1375.62,3899.51
20,Louisiana Hot Spiced Okra,1509.6,530.4,68,850
21,Mozzarella di Giovanni,1390,4488.2,3027.6,2697
22,Northwoods Cranberry Sauce,0,1300,0,2960
23,Ravioli Angelo,499.2,282.75,390,984.75
24,Sasquatch Ale,551.6,665,0,890.4
25,Sir Rodney's Marmalade,0,4252.5,3061.8,0
26,Sir Rodney's Scones,1462,644,1733,1434
27,Steeleye Stout,1310.4,1368,1323,1273.5
28,Teatime Chocolate Biscuits,943.89,349.6,841.8,851.46
29,Uncle Bob's Organic Dried Pears,1084.8,1575,2700,3826.5
30,Veggie-spread,3202.87,263.4,842.88,2590.1
31,Grand Total,24612.91,43435.04,41640.74,44803.26

In [5]:
df.describe()

       Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3        Unnamed: 4
count          27          28          27          27                27
unique         27          24          25          25                27
top       Produkt           0           0           0  Summe aus Qrtl 4
freq            1           5           3           3                 1

In [57]:
    quartal = input("Quartal eingeben(1/2/3/4): ")
    if quartal == '1'or quartal == '2' or quartal == '3' or quartal == '4':
        sortierung = input("'Produkt' oder 'Kunde' wählen:")
        if sortierung == 'Kunde':
            sortierung = 'Kunden'
        else:sortierung = "Produkte"
        print("Summe der Umsätze in Quartal " + quartal + ", für sämtliche " + sortierung)
        if quartal == '1':
            if sortierung == 'Kunden':
                
            else: 
        
        
        
        
    else: 
        print("Falsche Eingabe, bitte erneuert versuchen")

IndentationError: expected an indented block (3837605005.py, line 11)